@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overscroll-behavior-x: none;
}

html, body {touch-action: none;}



.wrapper {
  overscroll-behavior-x: none;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 245, 245, 245;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: 100dvh;
  max-height: -webkit-fill-available;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.react-flow__handle-top.react-flow__handle {
  width: 16px;
  height: 16px;
  top: -11px;
  border: 2px solid white;
  background-color: #cccccc;
}

.react-flow__handle-bottom.react-flow__handle {
  width: 16px;
  height: 16px;
  bottom: -11px;
  border: 2px solid white;
  background-color: #cccccc;
}

path.react-flow__edge-path {
  stroke-width: 2px;
  stroke: #cccccc;
}